<h1>Admin Dashboard</h1>

  <div class="panel panel-default products">

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>NUMBER OF PRODUCTS</th>
          <th>NUMBER OF CATEGORIES</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th><a href="/admin/products" class='btn btn-lg btn-primary'><%= @products %></a></th> 
          <th><a href="/admin/categories" class='btn btn-lg btn-primary'><%= @categories %></a></th>
        <tr>
      </tbody>
    </table>
  </div>



