<h1>Admin Dashboard</h1>
  <br>
  <div class="panel panel-default products">

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>PRODUCTS</th>
          <th>CATEGORIES</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <p class="count"><%= @products %></p>
            <br>
            <%= link_to 'CHECK PRODUCTS',  [:admin, :products], class: 'btn btn-sm btn-primary' %>
          </td>
          <td>
            <p class="count"><%= @categories %></p>
            <br>
            <%= link_to 'CHECK CATEGORIES', [:admin, :categories], class: 'btn btn-sm btn-primary' %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>



