<h1>Admin Dashboard</h1>

  <div class="panel panel-default products">

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Products</th>
          <th>Categories</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th><%= @products %></th>
          <th><%= @categories %></th>
        <tr>
      </tbody>
    </table>
  </div>



