<h1>Who We Are</h1>
<p>As a bonus you can buy some product from our store. But we are here to set multiple high-level goals:</p>
<ul>
<li>Become familiar with Ruby and the Rails framework</li>
<li>Learn how to navigate an existing code-base</li>
<li>Use existing code style and approach to implement new features in unfamiliar territory</li>
<li>Apply previous learning tactics to research and become familiar with a new paradigm, language and framework</li>
<li>A simulation of the real world where feature and bug-fix requests are listed instead of step-by-step instructions on how to implement a solution</li>
</ul>
